
.big-box {
    border: 2px solid  rgba(224, 68, 3, 1);
    /* margin: 100px 600px 30px 400px; */
    padding: 30px 30px 30px 30px;
    height: 300px;
    justify-self: center;
    width: 300px;
    background-color: rgba(224, 68, 3, 1);



}

.small-box {
    border: 3px solid white;
    padding: 10px 10px 10px 10px;
    height: 100px;
    width: 100px;
    background-color: white;
    margin-left: 180px;
 

}

.name{
    color: rgb(250, 246, 246);
}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}